@import "gb.mobile";

body {
  color: #fff;
  background: #666;
}

.page {
  .content {
    left: 50%;
    top: 45%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    font-size: 80px;
  }
}

#public {
  .logo {
    padding: 10px;
    font-size: 30px;
  }
}

#loading {
  background: #666;
  .loading-txt {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
  }
}

.img0{
  background-image: url(../img/sprite/0.png);
}
.img1{
  background-image: url(../img/sprite/1.png);
}